*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#1e2c39,#6990f2);
}

.wrapper{
    width: 430px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
}

.wrapper header{
    color: #6990f2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form{
    height: 167px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    border: 2px dashed #6990f2;
}

form :where(i, p){
    color: #6990f2;
}

form i {
    font-size: 50PX;
}

form p{
    font-size: 16px;
    margin-top: 15px;
}

section .row{
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i{
    font-size: 30px;
    color: #6990f2;
}

section .details span{
    font-size: 14px;
}

.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}

.progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.progress-area .progress-bar{
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}

.progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990f2;
    border-radius: inherit;
}

.uploaded-area{
    max-height: 230px;
    overflow-y: scroll;
}

.uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.uploaded-area .row .content{
    display: flex;
    align-items: center;
}

.uploaded-area .row .details{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.uploaded-area .details .size{
    font-size: 11px;
    color: #404040;
}
.uploaded-area .fa-check{
    font-size: 16px;
    color: #6990f2;
}

.conteiner a{
    width: 100%;
    text-decoration: none;
    background-color: #6990f2;
    color: white;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
    text-align: center;
    
}

.conteiner a:hover{
    background: #5f84e2;
}